* {
    margin: 0px;
  }
  
  /* a {
    color: red;
  } */
  
  /* #divisaoComElementosComFundoChocolate {
    background-color:chocolate;
  } */
  div.fundo-chocolate {
    background-color:chocolate;
  }
  
  div {
    /* background-color: rgba(23, 103, 231, 0.5); */
    background-color: #f4f442 !important;
    font-size: 3em;
  }
  
  span:first-of-type {
    color: white;
  }
  
  a:first-of-type {
    color: orangered;
  }
  
  nav {
    background-color: #00ABE7;
    height: 80px;
  }
  
  nav ul {
    padding: 30px;
  }
  
  nav li {
    /* list-style-type: none; */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/list-style */
    list-style: none;
    display: inline;
  }
  