body{
 margin: 0;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.time{
  background-color: aqua;
  height: 150;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
