<template>
    <div class="form-group">
    <input type="password" v-bind:name="nome" v-model="valor" class="form-control" v-bind:id="nome" aria-describedby="Password" placeholder="Senha">
  </div>
</template>

<script>
export default {
  name : 'PasswordInput',
  props : {
    nome : String
  },
  data: () => {
    return {
      valor : ''
    }
  }
}
</script>