<template>
<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Foto</th>
      <th scope="col">Altura</th>
      <th scope="col">Peso</th>
    </thead>
    <tbody>
      <PokemonLinha v-for="pokemon in pokemons" v-bind:key="pokemon.id" v-bind:pokemon="pokemon"/>
    </tbody>
  </table>
</div>
</template>

<script>
import PokemonLinha from "./PokemonLinha.vue";

export default {
  name: "TabelaPokemon",
  components: {
    PokemonLinha
  },
  props: {
    pokemons: Array
  }
}
</script>

