<!DOCTYPE html>
<html>

<head>
  <title>Hello World</title>
  <meta charset="utf-8" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <section id="meuPrimeiroApp">
    <input type="text" v-model="idParaBuscar" placeholder="ex : 103" v-on:blur="buscar()">
    <h2 v-show="idParaBuscar.length > 0"> Texto Digitado : {{ idParaBuscar }}</h2>
    <h1> {{ pokemon.nome }}</h1>
    <img v-bind:src="pokemon.thumbUrl" v-bind:alt="pokemon.nome">
    <ul>
      <li v-for="tipo in pokemon.tipos">{{ tipo }}</li>
    </ul>
  </section>
  <script src="src/pokeApi.js"></script>
  <script src="src/pokemon.js"></script> 
  <script src="src/app.js"></script>
</body>

</html>
