<!DOCTYPE html>
<html>

<head>
  <title>PokeDex</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="pokedex.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <section id="pokeApiHtml">
    <div id="container">
      <div id="formulario">
        <h4>Pokédex
          </h3>
          <label for="idPokemon">Digite o id do Pokémon : </label><br>
          <input type="number" pattern="[0-9]{3}" placeholder="ex: 103" v-on:blur="buscar()" v-model="idParaBuscar">
          <button type="button" id="btnEstouComSorte" v-on:click="buscaAleatoria()">Estou com sorte!</button>
          <button type="button" id="btnLimparLocalStorage" v-on:click="limparLocalStorage()">Limpar Dados</button>
      </div>
    </div>
    <div id="pokeDex">
      <div id="dadosPokemon">

        <h1></h1>
        <img id="thumb" v-bind:src="pokemon.thumbUrl" v-bind:alt="pokemon.nome">
        <div class="informacao">
          <span class="strong">ID : </span>
          <span id="idPok">{{ idParaBuscar }}</span>
        </div>
        <div class="informacao">
          <span class="strong">Altura : </span>
          <span id="altura">{{ pokemon.altura }} cm</span>
        </div>
        <div class="informacao">
          <span class="strong">Peso : </span>
          <span id="peso">{{ pokemon.peso }} Kg</span>
        </div>
        <h5>Tipos :</h5>
        <ul id="tipos">
          <li v-for="tipo in pokemon.tipos">{{ tipo }}</li>
        </ul>
        <h5>Estatísticas :</h5>
        <ul id="estatisticas">
          <li v-for="estatistica in pokemon.estatisticas">{{ estatistica }}</li>
        </ul>
      </div>
    </div>
  </section>
  <script src="src/pokeApi.js"></script>
  <script src="src/pokemon.js"></script>
  <script src="src/app.js"></script>
</body>

</html>
