<template>
  <section>
    <h1>{{ usuario }}, Seja Bem Vindx!</h1>
    <select v-model="opcaoSelecionada" v-on:change="onChange">
      <option v-for="opcao in opcoes" v-bind:key="opcao.id" v-bind:value="opcao">{{ opcao.texto }}</option>
    </select>
    <TabelaPokemon v-bind:pokemons="pokemons"/>
  </section>
</template>

<script>
import PokeApi from "../../api/pokeApi.js"
import TabelaPokemon from "../shared/TabelaPokemon.vue"

export default {
  name: "Home",
  components: {
    TabelaPokemon
  },
  data: () => {
    return {
      usuario: "",
      opcoes: [
        { id: 1, texto: "Normal" },
        { id: 2, texto: "Lutador" },
        { id: 3, texto: "voador" }
      ],
      opcaoSelecionada: {},
      pokemons: []
    }
  },
  methods: {
    async onChange() {
      const limitPage = 10
      const numPage = 1
      const pokeApi = new PokeApi("https://pokeapi.co/api/v2/pokemon");
      const pokemon = await pokeApi.buscar(151);
      const pokemon2 = await pokeApi.buscarPorUrl(
        "https://pokeapi.co/api/v2/pokemon/118/"
      );
      this.pokemons = await pokeApi.listarPorTipo(this.opcaoSelecionada.id, numPage, limitPage);
      
    }
  },
  created() {
    this.usuario = this.$route.params.usuario;
  }
}
</script>
