<template>
<div class="formulario">
<form v-on:submit.prevent="onSubmit">
  <EmailInput nome="usuario" ref="usuarioRef"/>
  <PasswordInput nome="password" ref="passwordRef"/>
  <Button v-bind:texto="textoBotao" type="submit" />
</form>
</div>
</template>

<script>
import Button from "../shared/Button.vue";
import EmailInput from "../shared/EmailInput.vue";
import PasswordInput from "../shared/PasswordInput";
export default {
  name: "Login",
  components: {
    Button,
    EmailInput,
    PasswordInput
  },
  data: () => {
    return{
      textoBotao: 'Entrar'
    }
  },
  methods: {
    onSubmit() {  
      //Acesso ao valor campo usuário
      const usuario = this.$refs.usuarioRef.valor;
      const senha = this.$refs.passwordRef.valor;
      const podeLogar = usuario === 'admin@admin' && senha === 'admin';
      if (podeLogar) {
        this.textoBotao = 'Aguarde...'
        setTimeout(() => {
          this.$router.push({ name: 'home', params: { usuario } });
        }, 2000);
      }
    }
  }
};
</script>

<style>
.formulario{
  display: flex;
  flex-direction: row;
}

form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

</style>






