body{
  background-image: url('http://sf.co.ua/14/06/wallpaper-2149390.jpg');
  background-size: cover;
}

#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#formulario{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 150px;
  margin: 0;
  align-items: center;
  justify-content: center;
}

#thumb{
  width: 150px;
  height: 150px;
}

