@import url('https://fonts.googleapis.com/css?family=Cinzel');

* {
    margin: 0px;
  }

body{
    background-color: #2D3142;
    font-family: 'Cinzel', serif;
}

ul{
    list-style: none;
}

h1{
    color : white;
    text-align: center;
}

#barraNavegacao{
   width: 100%;
   background-color: #14191F;
   left:0px;
    top:0px;
   position:fixed;
   
}

.logo img {
    height: 95px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.navegacao{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px 0;
}


.navegacao li{
    display: inline;
    margin: 0 10px;  
}   
.navegacao a{
    color: #2D3142;  
    font-style: none;
    text-decoration: none;       
    font-size: 30px;  
}

.navegacao a:hover {
    color: #fff;
    text-decoration: underline;
    transition: ease 0.3s;
}

#conteudo {
    width: 80%;
    margin: 0px auto;
    background-color: black;    
}

.foto-apresentacao img{
    width: 100%;
    height: 100%;
    padding: 0;    
}

#sobre{
    color: aliceblue;
    padding: 65px;
    text-align: center;
}

#sobre p {
    text-align: justify;
}

#sobre a {
    color: #fff;
}

#conteudo {
    text-align: center;
}

#conteudo h1, h2{
    margin-bottom: 15px;
    font-size: 35px;
}

#conteudo h4{
    text-align: left;
    text-decoration: underline;
}

#restaurantes {
    background-color: #2D3142;
    color: aliceblue;
    padding: 65px;
       
}

.local{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.local-foto{
    display: inline-block;
    width: 200px; 
}

.local-foto img {
    border-radius: 50%;
    height: 200px;
}

.local-descricao{
    display: inline-block;
    width: 700px; 
    margin: 0 35px;
}

.local-descricao p{
    text-align: justify;
}

.local-descricao a{
    text-align: left !important;
    color: #fff;
}

#bares{
    background-color: black;
    color: #fff;
    padding: 65px;
    text-align: center; 
}

#ondeir{
    background-color: #14191F;
    padding: 65px;
}

.lugar{
    width: 100%;
}


.lugar-img{
    width: 100%;
    height: 350px;
}

.lugar-titulo{
    text-align: center !important;   
    font-size: 40px;
    margin-top: 65px;
}

.lugar-descricao a{
    margin-top: 15px;
    color : #ffffff;
}

footer{
    width: 100%;
    height: 130px;
    background-color: black;
    display: block;
}

.adicionais{
    height: 100px;
    width: 100%;
    padding: 10px;
    background-color: black;
    float: right;
}

.redes-sociais{
    text-align: center;
}

.redes-sociais li{
    display: inline;
    margin: 200px 20px;
    color: #2D3142;
    font-size: 35px;    
}

.direitos{
    padding-top:50px;
    text-align: center;
    display: block; 
    color: #2D3142;
}