@font-face {
  font-family: 'Pokemon';
  src: url('fonts/Pokemon\ GB.ttf');
  font-weight: normal;
  font-style: normal;
}

body{
  background-image: url('https://wallpaperstudio10.com/static/wpdb/wallpapers/1920x1080/173481.jpg');
  background-size: cover;
  height:auto;
  width:auto;
  font-family: 'Pokemon';
}

#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#formulario{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 150px;
  margin: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 38, 44, 0.5);
  border-radius: 10%;
  border: 0.5px solid black;
}

#formulario > label {
  font-size: 10px;
  font-weight: bolder;
}

#pokeDex{
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
}

#dadosPokemon{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 100px;
  background-color: rgba(215, 38, 44, 0.7);
  border-radius: 15px;
  text-align: center;
  border: 0.4px solid black;
}

#thumb{
  width: 100%;
  height: 150px;
  background-color: #fff;
}

.informacao{
  display: flex;
}

.strong{
  font-weight: bold;
}

h1{
  font-size: 18px;
}

h5{
  font-size: 15px;
  margin: 0px;
}

#tipos > li{
  list-style: none;
  padding: none;
  font-size: 10px;
  padding: 5px;
  text-align: left;
}

#estatisticas > li{
  list-style: none;
  font-size: 10px;
  padding: 5px;
  text-align: left;
}

span{
  display: inline-block;
  width: 50%;
  padding: 15px 15px;
  text-align: left; 
  font-size: 10px;
}
